.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.navbar .logo{
    width: 170px;
    cursor: pointer;
}

.menu{
    display: flex;
    list-style: none;
    font-size: 18px;
    gap: 20px;
    color: #49557e;
}

.menu li{
    cursor: pointer;
}

.right{
    display: flex;
    align-items: center;
    gap: 42px;
}

.search, .basket{
    cursor: pointer;
}

.navbar button{
    background: transparent;
    font-size: 17px;
    color: #49557e;
    border: 1px solid #E49B0F;
    padding: 10px 30px;
    border-radius: 50px;
    transition: 0.5s;
    cursor: pointer;
}

.navbar button:hover{
    background-color: #FFFDD0;
}

.navbar .active{
    padding-bottom: 2px;
    border-bottom: 2px solid #E49B0F;
}

.navbar .search-icon{
    position: relative;
}

.navbar .search-icon .dot{
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-color: #E49B0F;
    top: -8px;
    right: -8px;
}

.navbar-profile{
    position: relative
}

.nav-profile-dropdown{
    position: absolute;
    display: none;
    right: 0;
    z-index: 1;
}

.navbar-profile:hover .nav-profile-dropdown{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fff2ef;
    padding: 12px 25px;
    border-radius: 8px;
    border: 1px solid #E49B0F;
    outline: 2px solid white;
    list-style: none;
}

.nav-profile-dropdown li{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.nav-profile-dropdown li:hover{
    color: #E49B0F;
}

.nav-profile-dropdown img{
    width: 21px;
}

@media screen and (max-width:1050px){
    .navbar .logo{
        width: 140px;
    }

    .menu{
        gap: 20px;
        font-size: 17px;
    }

    .right{
        gap: 30px;
    }

    .right img{
        width: 22px;
    }

    .right button{
        padding: 8px 25px;
    }
}

@media screen and (max-width: 900px){
    .navbar .logo{
        width: 110px;
    }

    .menu{
        gap: 15px;
        font-size: 16px;
    }

    .right{
        gap: 20px;
    }

    .right img{
        width: 20px;
    }

    .right button{
        padding: 7px 20px;
        font-size: 15px;
    }
}

@media screen and (max-width:750px){
    .menu{
        display: none; 
    }
}